<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberSQL">
	
	<!--<resultMap type="member" id="memberResult">
		<result column="NAME" property="name"/>
		<result column="ID" property="id"/>
		<result column="PWD" property="pwd"/>
		<result column="GENDER" property="gender"/>
		<result column="EMAIL1" property="email1"/>
		<result column="EMAIL2" property="email2"/>
		<result column="TEL1" property="tel1"/>
		<result column="TEL2" property="tel2"/>
		<result column="TEL3" property="tel3"/>
		<result column="ZIPCODE" property="zipcode"/>
		<result column="ADDR1" property="addr1"/>
		<result column="ADDR2" property="addr2"/>
	</resultMap>-->
	
	<!--로그인-->
	<select id="memberLogin" parameterType="java.util.Map" resultType="member.bean.MemberDTO">
		SELECT * FROM member where id=#{id} and pwd=#{pwd}
	</select>
		
	<insert id="memberWrite" parameterType="member.bean.MemberDTO" >
		insert into member values(#{name}, 
								  #{id}, 
								  #{pwd}, 
								  #{gender}, 
								  #{email1}, 
								  #{email2}, 
								  #{tel1}, 
								  #{tel2}, 
								  #{tel3}, 
								  #{zipcode}, 
								  #{addr1}, 
								  #{addr2}, 
								  sysdate)
	</insert> 
	<!--<select id="getMemberList" resultMap="memberResult">
		select * from member
	</select>
	
	<select id="getMember" parameterType="String" resultType="member">
		select * from member where id=#{id}
	</select>
	
	<update id="update" parameterType="java.util.Map">
		update member set name=#{name}, pwd=#{pwd} where id=#{id}
	</update>
	
	<delete id="delete" parameterType="String">
		delete member where id=#{id}
	</delete>
	
	<select id="search" parameterType="java.util.Map" resultType="member">
		
		SELECT * FROM member where ${columnName} like '%' || #{value} || '%'
		
	</select>
	
	<select id="isExistId" parameterType="String" resultType="member">
		select * from member where id=#{id}
	</select>
	-->
	
	
	
</mapper>