@charset "UTF-8";


.blind, legend {
	display: block;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: -1000em;
}

.skip a {
	display: block;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: -1000em;
	z-index: 9999;
	width: 100%;
	background-color: navy;
	color: white;
	font: bold 1.3em Tahoma, sans-serif;
	text-decoration: none;
	text-align: center;
}

.skip a:hover, .skip a:active, .skip a:focus {
	top: 0;
	padding: 0.5em 0;
}

#header {
	position: relative;
	padding-bottom: 99px;
	border-bottom: 1px solid #cccccc;
	background: url("../img/photo-1.jpg") no-repeat 50% 100%;
}

.logo {
	padding: 12px 0 12px 26px; /* 위 오른쪽 아래 왼쪽 순 */
}

.logo a {
	display: block;
	overflow: hidden;
	width: 90px;
	height: 30px;
	background: url("../img/logo.png") no-repeat;
	text-indent: -9999em; /* 값이 양수이면 들여쓰기, 값이 음수이면 내어쓰기 */
}

.topnav {
	position: absolute;
	right: 35px;
	top: 18px;
	background: url("../img/photo-1.img")
}

.topnav dd {
	float: left;
	padding-right: 11px;
	margin-right: 10px;
}

.topnav dd:last-child {	/* 마지막 이미지 없애기 */
	padding: 0;
	margin-right: 0;
	background: none;
}

.topnav dd a{
	color: black;
	font-size: 0.9em;
}













